@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.index {
  width: 100vw;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  &-header {
    width: 100%;
    height: 360 / $unit * $symbol;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-advertising {
    $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 159 / $unit * $symbol;
    img {
      width: 699 / $unit * $symbol;
      height: 123 / $unit * $symbol;
    }
  }
  &-brand {
    width: 100vw;
    padding: {
      left: 18 / $unit * $symbol;
      right: 18 / $unit * $symbol;
    }
    .brand-classify {
      width: 100%;
      .classify-title {
        $param: (flex flex) (alignItems center) (justifyContent flex-start);
        @include flexSet($param);
        width: 100%;
        height: 78 / $unit * $symbol;
        margin: {
          bottom: 24 / $unit * $symbol;
        }
        .icon {
          margin: {
            left: 12 / $unit * $symbol;
            right: 12 / $unit * $symbol;
          }
          font-size: 18 / $unit * $symbol;
        }
        .title-text {
          font-size: 36 / $unit * $symbol;
          color: #353535;
          font-weight: bold;
        }
      }
      .classify-shop-list {
        $param: (flex flex) (flexWrap wrap);
        @include flexSet($param);
        width: 100%;
        margin: {
          bottom: 15 / $unit * $symbol;
        }
        .list-item {
          $param: (flex flex) (direction column) (alignItems center);
          @include flexSet($param);
          width: 50%;
          height: 472 / $unit * $symbol;
          margin: {
            bottom: 10 / $unit * $symbol;
          }
          .item-content {
            position: relative;
            $param: (flex flex) (direction column) (alignItems center);
            @include flexSet($param);
            width: 345 / $unit * $symbol;
            height: 472 / $unit * $symbol;
            border: 1px solid #ededed;
            padding: {
              top: 42 / $unit * $symbol;
            }
            border-radius: 9 / $unit * $symbol;
            background: #fff;
            box-shadow: 0 0 (30 / $unit * $symbol) (6 / $unit * $symbol) #efeeec;
            .content-shop-picture {
              width: 172 / $unit * $symbol;
              height: 199 / $unit * $symbol;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .content-title {
              $param: (flex flex) (alignItems center) (justifyContent center);
              @include flexSet($param);
              height: 48 / $unit * $symbol;
              margin: {
                top: 15 / $unit * $symbol
              }
              font-size: 27 / $unit * $symbol;
              font-weight: bold;
              color: #353535;
            }
            .content-parameter {
              $param: (flex flex) (justifyContent center);
              @include flexSet($param);
              .parameter-item {
                $param: (flex flex) (direction column) (justifyContent center);
                @include flexSet($param);
                width: 90 / $unit * $symbol;
                height: 36 / $unit * $symbol;
                margin: {
                  left: 5 / $unit * $symbol;
                  right: 5 / $unit * $symbol;
                }
                text-align: center;
                background: #ffe0da;
                border-radius: 4 / $unit * $symbol;
                font-size: 21 / $unit * $symbol;
                color: #353535;
              }
            }
            .content-price {
              $param: (flex flex) (alignItems center) (justifyContent center);
              @include flexSet($param);
              height: 66 / $unit * $symbol;
              width: 100%;
              padding: {
                left: 21 / $unit * $symbol;
                right: 21 / $unit * $symbol;
              }
              p:first-of-type {
                padding: {
                  right: 12 / $unit * $symbol;
                }
                font-size: 27 / $unit * $symbol;
                color: #eb2828;
                font-weight: bold;
                span:first-of-type {
                  font-size: 21 / $unit * $symbol;
                }
              }
              p:last-of-type {
                padding: {
                  left: 12 / $unit * $symbol;
                }
                font-size: 21 / $unit * $symbol;
                color: #666666;
                text-decoration: line-through;
              }
            }
            .content-economize {
              $param: (flex flex) (alignItems center);
              @include flexSet($param);
              width: auto;
              height: 39 / $unit * $symbol;
              border: 1px solid #eb2828;
              border-radius: 4 / $unit * $symbol;
              span {
                $param: (flex flex) (direction column) (justifyContent center);
                @include flexSet($param);
                height: 100%;
                text-align: center;
              }
              span:first-of-type {
                width: 39 / $unit * $symbol;
                background: #eb2828;
                color: #fff;
                font-size: 21 / $unit * $symbol;
              }
              span:last-of-type {
                padding: {
                  left: 9 / $unit * $symbol;
                  right: 9 / $unit * $symbol;
                }
                color: #393939;
                font-size: 21 / $unit * $symbol;
                font-weight: bold;
              }
            }
            .content-badge {
              position: absolute;
              top: 0;
              left: 0;
              width: 81 / $unit * $symbol;
              height: 36 / $unit * $symbol;
              background: #fe5649;
              border-radius: 6 / $unit * $symbol;
              p {
                $param: (flex flex) (alignItems center) (justifyContent center);
                @include flexSet($param);
                height: 100%;
                width: 100%;
                font-size: 21 / $unit * $symbol;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
