@import '../../../dependencies/sass/_unit.scss';
@import '../../../dependencies/sass/_flex.scss';
@mixin pxvw($style, $px) {
  $style: $px / $unit * $symbol
}

.order {
  width: 100vw;
  height: 100vh;
  padding: {
    top: 207 / $unit * $symbol;
  }
  background: #f4f4f4;
  .order-tabbar {
    $param: (flex flex) (justifyContent space-around);
    @include flexSet($param);
    position: fixed;
    top: 129 / $unit * $symbol;
    left: 0;
    width: 100%;
    height: 78 / $unit * $symbol;
    @include pxvw(height, 83);
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    background: #fff;
    .tabbar-item {
      position: relative;
      height: 73 / $unit * $symbol;
      line-height: 73 / $unit * $symbol;
      font-size: 27 / $unit * $symbol;
      font-weight: bold;
      color: #4b4b4b;
    }
    .tabbar-item::after {
      position: absolute;
      bottom: -5 / $unit * $symbol;
      left: 0;
      right: 0;
      z-index: 100;
      content: '';
      width: 100%;
      height: 5 / $unit * $symbol;
      border-radius: 3 / $unit * $symbol;
      background-color: fff;
    }
    .active::after {
      background-color: red;
    }
  }
  .order-classify {
    width: 100%;
    height: 100%;
    padding: {
      top: 15 / $unit * $symbol;
    }
    overflow-y: auto;
  }
}
