@import '../../../dependencies/sass/_unit.scss';
@import '../../../dependencies/sass/_flex.scss';
.order{
  width: 100vw;
  height: 100vh;
  padding: {
    top: (129 + 84) / $unit * $symbol;
  }
  background: #f4f4f4;
  overflow-y: auto;
  .order-tabbar {
    $param: (flex flex) (justifyContent space-around);
    @include flexSet($param);
    position: fixed;
    top:  129 / $unit * $symbol;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 84 / $unit * $symbol;
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    background-color: #fff;
    .tabbar-item{
      position: relative;
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      height: 78 / $unit * $symbol;
      line-height: 78 / $unit * $symbol;
      font-size: 27 / $unit * $symbol;
      font-weight: bold;
      color: #4b4b4b;  
    }
    .tabbar-item::after {
      position: absolute;
      content: '';
    }
    .active::after {
      background-color: red;
    }
  }
  .order-classify{
    width: 100%;
    height: 100%;
  }
}
