@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.address-list {
  width: 100%;
  height: 100%;
  padding: {
    bottom: 21 / $unit * $symbol;
  }
  overflow-x: hidden;
  overflow-y: scroll;
  .list-tips {
    width: 100vw;
    height: auto;
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    .tip {
      width: 100%;
      height: 251 / $unit * $symbol;
      margin: {
        top: 21 / $unit * $symbol;
      }
      padding: {
        left: 27 / $unit * $symbol;
        right: 27 / $unit * $symbol;
      }
      border-radius: 12 / $unit * $symbol;
      background-color: #fff;
      .tip-detail {
        $param: (flex flex) (direction column) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        height: 167 / $unit * $symbol;
        padding: {
          top: 27 / $unit * $symbol;
          bottom: 27 / $unit * $symbol;
        }
        border: {
          bottom: 1px solid #ededed;
        }
        .detail-user {
          $param: (flex flex) (justifyContent space-between);
          @include flexSet($param);
          font-size: 33 / $unit * $symbol;
          color: #000;
        }
        .detail-address {
          font-size: 27 / $unit * $symbol;
          color: #353535;
        }
      }
      .tip-operation {
        $param: (flex flex) (alignItems center) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        height: 84 / $unit * $symbol;
        font-size: 27 / $unit * $symbol;
        color: #353535;
        .operation-set-default {
          span {
            margin: {
              left: 15 / $unit * $symbol;
            }
          }
        }
        i {
          font-size: 30 / $unit * $symbol;
          color: #eb2828;
        }
      }
      .operation-modify {
        $param: (flex flex) (justifyContent space-between);
        @include flexSet($param);
        width: 240 / $unit * $symbol;
        span {
          margin: {
            left: 15 / $unit * $symbol;
          }
        }
        .icon {
          font-size: 27 / $unit * $symbol;
        }
        i {
          font-size: 27 / $unit * $symbol;
          color: #CCCCCC;
        }
      }
    }
  }
}