@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
.tab {
  position: fixed;
  left: 0;
  bottom: 0;
  $param: (flex flex) (justifyContent space-around) (alignItems center);
  @include flexSet($param);
  width: 100vw;
  height: 99 / $unit * $symbol;
  background-color: #fff;
  box-shadow: 0 0 (12 / $unit * $symbol) (3 / $unit * $symbol) #efefef;
  &-item {
    $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
    @include flexSet($param);
    height: 100%;
    .icon {
      font-size: 42 / $unit * $symbol;
    }
    .item-name {
      font-size: 24 / $unit * $symbol;
      color: #999999;
    }
  }
  .active {
    height: 87 / $unit * $symbol;
    width: 87 / $unit * $symbol;
    border-radius: 50%;
    background: #efeeec;
    .icon {
      font-size: 54 / $unit * $symbol;
    }
  }
}
