@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.pay-password {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  width: 100VW;
  height: auto;
  background-color: #fff;
  .password-title {
    position: relative;
    $param: (flex flex) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 99 / $unit * $symbol;
    p {
      font-size: 30 / $unit * $symbol;
      color: #333333;
    }
    i {
      position: absolute;
      right: 24 / $unit * $symbol;
      font-size: 36 / $unit * $symbol;
      color: #b5b6b6;
    }
  }
  .password-input {
    $param: (flex flex) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 285 / $unit * $symbol;
    padding: {
      top: 60 / $unit * $symbol;
    }
    border: {
      top: 1px solid #dddddd;
    }
    .input-list {
      $param: (flex flex) (alignItems center);
      @include flexSet($param);
      width: 615 / $unit * $symbol;
      height: 105 / $unit * $symbol;
      padding: {
        left: 3 / $unit * $symbol;
      }
      background-color: #dddddd;
      .list-item {
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        width: 99 / $unit * $symbol;
        height: 99 / $unit * $symbol;
        margin: {
          right: 3 / $unit * $symbol;
        }
        background-color: #fff;
        font-size: 60 / $unit * $symbol;
      }
    }
  }
  .password-keyboard {
    $param: (flex flex) (flexWrap wrap) (alignItems space-between) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 435 / $unit * $symbol;
    padding: {
      top: 12 / $unit * $symbol;
      left: 12 / $unit * $symbol;
      right: 12 / $unit * $symbol;
    }
    background-color: #d1d5db;
    .keyboard-item {
      $param: (flex flex) (alignItems center) (justifyContent center) (flexWrap wrap);
      @include flexSet($param);
      width: 234 / $unit * $symbol;
      height: 93 / $unit * $symbol;
      font-size: 51 / $unit * $symbol;
      color: #000;
      background-color: #fff;
      border-radius: 9 / $unit * $symbol;
    }
    .keyboard-item:nth-last-of-type(3), .keyboard-item:last-of-type {
      background-color: transparent;
    }
    .keyboard-item:hover {
      background-color: #707070;
    }
    .keyboard-item:nth-last-of-type(3):hover{
      background-color: transparent;
    }
  }
}