@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
@import '../../../../../dependencies/sass/_btn.scss';
.rightbuy {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  .rightbuy-commodity {
    position: relative;
    $param: (flex flex) (alignItems center);
    @include flexSet($param);
    width: 100%;
    height: 159 / $unit * $symbol;
    border: {
      bottom: 1px solid #dddddd;
    }
    .commodity-detail {
      width: 100%;
      padding: {
        left: 222 / $unit * $symbol;
      }
      .detail-name {
        font-size: 30 / $unit * $symbol;
        color: #000000;
        font-weight: bold;
      }
      .detail-price {
        font-size: 30 / $unit * $symbol;
        color: #eb2828;
        font-weight: bold;
      }
      .detail-advantage {
        font-size: 21 / $unit * $symbol;
        color: #999999;
      }
    }
    .commodity-img {
      position: absolute;
      bottom: 15 / $unit * $symbol;
      left: 20 / $unit * $symbol;
      z-index: 10;
      $param: (flex flex) (justifyContent center) (alignItems center);
      @include flexSet($param);
      width: 180 / $unit * $symbol;
      height: 180 / $unit * $symbol;
      background: #fff;
      border-radius: 4 / $unit * $symbol;
      img {
        width: 80%;
        height: 90%;
      }
    }
    i {
      position: absolute;
      top: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
      z-index: 9;
      font-size: 42 / $unit * $symbol;
      color: #b5b6b6;
    }
  }
  .rightbuy-property {
    width: 100%;
    padding: {
      left: 20 / $unit * $symbol;
      right: 20 / $unit * $symbol;
      top: 12 / $unit * $symbol;
    }
    .property-item {
      width: 100%;
      .item-title {
        $param: (flex flex) (justifyContent flex-start) (alignItems center);
        @include flexSet($param);
        height: 68 / $unit * $symbol;
        font-size: 24 / $unit * $symbol;
        color: #666666;
      }
      .item-attribute {
        width: 100%;
        $param: (flex flex) (justifyContent flex-start) (flexWrap wrap);
        @include flexSet($param);
        .attribute-value {
          height: 58 / $unit * $symbol;
          line-height: 56 / $unit * $symbol;
          padding: {
            left: 15 / $unit * $symbol;
            right: 15 / $unit * $symbol;
          }
          margin: {
            right: 18 / $unit * $symbol;
            bottom: 14 / $unit * $symbol;
          }
          border-radius: 8 / $unit * $symbol;
          border: 1px solid #9c9c9c;
          font-size: 24 / $unit * $symbol;
          color: #2e3135;
          span {
            color: #ff5757;
          }
        }
        .active {
          border: 1px solid #ff5757;
          color: #ff5757;
          background: #ffe0da;
        }
      }
    }
  }
  .rightbuy-button {
    $param: (flex flex) (justifyContent center) (alignItems center);
    @include flexSet($param);
    width: 100%;
    height: 92 / $unit * $symbol;
    background: #eb2828;
    font-size: 30 / $unit * $symbol;
    color: #fff;
  }
}
