@mixin flex($flex) {
  display: $flex;
  @if $flex == inline-flex {
    display: -webkit-inline-box;
  }
  @else {
    display: -webkit-box;
  }
  display: -webkit- + $flex;
}

@mixin flexFlow ($flexFlow) {
  flex-flow: $flexFlow;
  -webkit-flex-flow: $flexFlow;
}

@mixin flexWrap ($flexWrap) {
  flex-wrap: $flexWrap;
  -webkit-flex-wrap: $flexWrap;
}

@mixin direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin alignItems($alignItems) {
  align-items: $alignItems;
  -webkit-box-align: $alignItems;
  -webkit-align-items: $alignItems;
}

@mixin justifyContent($justifyContent) {
  justify-content: $justifyContent;
  -webkit-box-pack: $justifyContent;
  -webkit-justify-content: $justifyContent;
}

@mixin alignContent($alignContent) {
  align-content: $alignContent;
  -webkit-align-content: $alignContent;
}

@mixin flexSet($params) {
  @each $param in $params {

    $name: nth($param, 1);
    $content: nth($param, 2);

    @if $name == flex {
      @include flex($content);
    }
    @else if $name == direction {
      @include direction($content);
    }
    @else if $name == alignItems {
      @include alignItems($content);
    }
    @else if $name == justifyContent {
      @include justifyContent($content);
    }
    @else if $name == alignContent {
      @include alignContent($content);
    }
    @else if $name == flexFlow {
      @include flexFlow($content);
    }
    @else if $name == flexWrap {
      @include flexWrap($content);
    }
  }
}

@mixin center () {
  $param: (flex flex) (alignItems center) (justifyContent center);
  @include flexSet($param);
}

@mixin vertical_left () {
  $param: (flex flex) (alignItems flex-start);
  @include flexSet($param);
}

@mixin horizontal_center () {
  $param: (flex flex) (justifyContent center);
  @include flexSet($param);
}

@mixin horizontal_end () {
  $param: (flex flex) (justifyContent flex-end);
  @include flexSet($param);
}

@mixin vertical_center () {
  $param: (flex flex) (alignItems center);
  @include flexSet($param);
}

@mixin vertical_end () {
  $param: (flex flex) (alignItems flex-end);
  @include flexSet($param);
}

@mixin vertical_center_horizontal_between () {
  $param: (flex flex) (alignItems center) (justifyContent space-between);
  @include flexSet($param);
}

@mixin vertical_between_horizontal_between_wrap () {
  $param: (flex flex) (alignContent space-between) (justifyContent space-between) (flexWrap wrap);
  @include flexSet($param);
}

@mixin vertical_center_horizontal_between_wrap () {
  $param: (flex flex) (alignItems center) (justifyContent space-between) (flexWrap wrap);
  @include flexSet($param);
}

@mixin vertical_center_horizontal_around () {
  $param: (flex flex) (alignItems center) (justifyContent space-around);
  @include flexSet($param);
}

// 纵向排列
@mixin vertical_direction () {
  $param: (flex flex) (direction column);
  @include flexSet($param);
}

@mixin horizontal_between () {
  $param: (flex flex) (justifyContent space-between);
  @include flexSet($param);
}

@mixin vertical_direction_center () {
  $param: (flex flex) (direction column) (alignItems center);
  @include flexSet($param);
}

@mixin column_center () {
  $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
  @include flexSet($param);
}

@mixin column_center_between () {
  $param: (flex flex) (direction column) (alignItems center) (justifyContent space-between);
  @include flexSet($param);
}

@mixin vertical_direction_between () {
  $param: (flex flex) (direction column) (justifyContent space-between);
  @include flexSet($param);
}

@mixin vertical_direction_around () {
  $param: (flex flex) (direction column) (justifyContent space-around);
  @include flexSet($param);
}
