@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
.mine-list-nav {
  flex-grow: 1;
  width: 100%;
  padding: {
    left: 30 / $unit * $symbol;
  }
  background-color: #fff;
  .nav-item {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 104 / $unit * $symbol;
    padding: {
      right: 30 / $unit * $symbol;
    }
    border: {
      bottom: 1px solid #e4e4e4;
    }
    .item-title {
      font-size: 30 / $unit * $symbol;
      color: #222222;
      font-weight: 600;
      i {
        font-size: 30 / $unit * $symbol;
        color: #3d3d3d;
        padding: {
          right: 15 / $unit * $symbol;
        }
      }
    }
    i {
      font-size: 30 / $unit * $symbol;
      color: #a5a5a5;
    }
    div {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      .item-tip {
        $param: (flex flex) (alignItems center);
        @include flexSet($param);
        height: 39 / $unit * $symbol;
        font-size: 21 / $unit * $symbol;
        padding: {
          left: 12 / $unit * $symbol;
          right: 21 / $unit * $symbol;
        }
        margin: {
          right: 12 / $unit * $symbol;
        }
        border-top-left-radius: 9 / $unit * $symbol;
        border-bottom-left-radius: 6 / $unit * $symbol;
        border-bottom-right-radius: 39 / $unit * $symbol;
        background: linear-gradient(left, #ff3060 8%, #ff0509 95%);
        color: #fff;
      }
      .iconfont {
        font-size: 30 / $unit * $symbol;
      }
    }
  }
}