@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
@import '../../../dependencies/sass/_btn.scss';
.installment {
  width: 100vw;
  height: 100vh;
  padding: {
    top: (93 + 36) / $unit * $symbol;
    bottom: 99 / $unit * $symbol;
  }
  background: #f4f4f4;
  &-button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    $param: (flex flex) (direction column) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 99 / $unit * $symbol;
    padding: {
      right: 30 / $unit * $symbol;
      left: 30 / $unit * $symbol;
    }
    border: {
      top: 1px solid #e7e7e7;
    }
    box-shadow: 0 0 (3 / $unit * $symbol) #e7e7e7;
    background: #fff;
    button {
      width: 100%;
      height: 72 / $unit * $symbol;
      font-size: 27 / $unit * $symbol;
      border-radius: 7 / $unit * $symbol;
      outline: none;
      background-color: #eb2828;
      color: #fff;
    }
  }
}
