@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
@import '../../../dependencies/sass/_btn.scss';
.add-address{
  padding: {
    top: 129 / $unit * $symbol;
  }
}

.input-list {
  width: 100vw;
  height: 642 / $unit * $symbol;
  padding: {
    top: 21 / $unit * $symbol;
    bottom: 102 / $unit * $symbol;
    left: 30 / $unit * $symbol;
    right: 30 / $unit * $symbol;
  }
  background-color: #f0f2f5;
  .list-item {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 99 / $unit * $symbol;
    padding: {
      left: 27 / $unit * $symbol;
      right: 27 / $unit * $symbol;
    }
    background-color: #fff;
    b {
      $param: (flex flex) (alignItems center);
      @include flexSet($param);
      width: (183 - 27) / $unit * $symbol;
      height: 100%;
      border: {
        bottom: 1px solid transparent;
      }
      font-size: 27 / $unit * $symbol;
      color: #000;
    }
    .item-input {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      width: 100%;
      height: 100%;
      border: {
        bottom: 1px solid #c7c7c7;
      }
      input {
        width: 100%;
        height: 80%;
        font-size: 27 / $unit * $symbol;
        color: #9a9a9a;
      }
    }
  }
  .list-item:first-of-type {
    border-top-left-radius: 12 / $unit * $symbol;
    border-top-right-radius: 12 / $unit * $symbol;
  }
  .list-item:last-of-type {
    $param: (flex flex) (direction column) (alignItems flex-start) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 225 / $unit * $symbol;
    padding: {
      top: 12 / $unit * $symbol;
      bottom: 63 / $unit * $symbol;
    }
    border-bottom-left-radius: 9 / $unit * $symbol;
    border-bottom-right-radius: 9 / $unit * $symbol;
    p {
      width: 100%;
      height: 63 / $unit * $symbol;
      border: none;
    }
  }
}

.button-default {
  $param: (flex flex) (justifyContent center);
  @include flexSet($param);
  width: 100vw;
  height: 90 / $unit * $symbol;
  button {
    $param: (flex flex) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 690 / $unit * $symbol;
    height: 100%;
    border-radius: 9 / $unit * $symbol;
    font-size: 33 / $unit * $symbol;
    background-color: #eb2828;
    color: #ffffff;
  }
}

.active {
  @include defaultBtn(#eb2828, #ffffff);
}