@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.shop {
  background-color: #fff;
  &-header {
    position: relative;
    width: 100%;
    height: 462 / $unit * $symbol;
    .header-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .header-search {
      position: relative;
      z-index: 10;
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 144 / $unit * $symbol;
      padding: {
        top: 24 / $unit * $symbol;
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      i {
        font-size: 39 / $unit * $symbol;
        color: #fff;
      }
      .search-input {
        @include vertical_center();
        width: 561 / $unit * $symbol;
        height: 60 / $unit * $symbol;
        padding: {
          left: 21 / $unit * $symbol;
          right: 21 / $unit * $symbol;
        }
        background-color: #fff;
        border-radius: 30 / $unit * $symbol;
        i {
          font-size: 27 / $unit * $symbol;
          color: #999;
        }
        input {
          flex: 1;
          height: 100%;
          padding: {
            left: 21 / $unit * $symbol;
          }
          font-size: 24 / $unit * $symbol;
          color: #333;
          &::-webkit-input-placeholder {
            font-size: 24 / $unit * $symbol;
            color: #999;
          }
        }
      }
    }
    .header-banner {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 318 / $unit * $symbol;
      padding: {
        left: 24 / $unit * $symbol;
        right: 24 / $unit * $symbol;
      }
      border-radius: 9 / $unit * $symbol;
      .banner {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 9 / $unit * $symbol;
        }
      }
    }
  }
  &-category {
    @include vertical_center_horizontal_between_wrap();
    width: 100%;
    height: 144 / $unit * $symbol;
    padding: {
      left: 24 / $unit * $symbol;
      right: 24 / $unit * $symbol;
    }
    .category-item {
      @include column_center_between();
      width: (90 + 15) / $unit * $symbol;
      height: 144 / $unit * $symbol;
      padding: {
        top: 12 / $unit * $symbol;
      }
      .item-icon {
        width: 90 / $unit * $symbol;
        height: 90 / $unit * $symbol;
      }
      .item-title {
        @include vertical_center();
        height: 42 / $unit * $symbol;
        font-size: 21 / $unit * $symbol;
        color: #666666;
      }
    }
  }
  &-recommend {
    width: 100%;
    height: 237 / $unit * $symbol;
    padding: {
      left: 33 / $unit * $symbol;
      right: 33 / $unit * $symbol;
    }
  }
  &-look-at-look {
    width: 100%;
    height: auto;
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    .look-saccade {
      @include center();
      width: 100%;
      height: 120 / $unit * $symbol;
      font-size: 30 / $unit * $symbol;
    }
    .look-guide {
      @include vertical_between_horizontal_between_wrap();
      width: 100%;
      height: (123 * 2 + 30) / $unit * $symbol;
      .look-tip {
        @include vertical_left();
        width: 336 / $unit * $symbol;
        height: 123 / $unit * $symbol;
        background: #f3f6fa;
        .tip-messgae {
          @include vertical_direction_between();
          width: (336 - 123) / $unit * $symbol;
          height: 100%;
          padding: {
            left: 24 / $unit * $symbol;
            top: 30 / $unit * $symbol;
            bottom: 27 / $unit * $symbol;
          }
          .messgae-title {
            font-size: 30 / $unit * $symbol;
            color: #222222;
          }
          .messgae-introduce {
            font-size: 24 / $unit * $symbol;
            color: #999999;
          }
        }
        .tip-image {
          width: 123 / $unit * $symbol;
          height: 123 / $unit * $symbol;
        }
      }
    }
  }
  &-rush-purchase {
    width: 100%;
    height: 438 / $unit * $symbol;
    .purchase-title {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 133 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      .title-message {
        @include vertical_center_horizontal_between();
        height: 100%;
        span:first-of-type {
          font-size: 33 / $unit * $symbol;
          color: #ff7941;
        }
        span:nth-of-type(2) {
          font-size: 33 / $unit * $symbol;
          margin: {
            left: 9 / $unit * $symbol;
            right: 9 / $unit * $symbol;
          }
          color: #dddddd;
        }
        span:nth-of-type(3) {
          font-size: 27 / $unit * $symbol;
          color: #474747;
        
        }
        span:nth-of-type(4),
        span:nth-of-type(5) {
          font-size: 27 / $unit * $symbol;
          color: #333333;
        }
  
        .message-hour,
        .message-minute,
        .message-seconds {
          @include center();
          width: 36 / $unit * $symbol;
          height: 36 / $unit * $symbol;
          font-size: 24 / $unit * $symbol;
          color: #fff;
          background-color: #333333;
          border-radius: 3 / $unit * $symbol;
          margin: {
            left: 6 / $unit * $symbol;
            right: 6 / $unit * $symbol;
          }
        }
      }
      .title-more {
        font-size: 24 / $unit * $symbol;
        color: #999999;
      }
    }
  }
}
