@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.shop {
  position: relative;
  &-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 462 / $unit * $symbol;
    background: rgba($color: #000000, $alpha: .4);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-search {
    @include vertical_center_horizontal_between();
    width: 100%;
    height: 144 / $unit * $symbol;
    padding: {
      top: 24 / $unit * $symbol;
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    i {
      font-size: 39 / $unit * $symbol;
      color: #fff;
    }
    .search-input {
      @include vertical_center();
      width: 561 / $unit * $symbol;
      height: 60 / $unit * $symbol;
      padding: {
        left: 21 / $unit * $symbol;
        right: 21 / $unit * $symbol;
      }
      background-color: #fff;
      border-radius: 30 / $unit * $symbol;
      i {
        font-size: 27 / $unit * $symbol;
        color: #999;
      }
      input {
        flex: 1;
        height: 100%;
        padding: {
          left: 21 / $unit * $symbol;
        }
        font-size: 24 / $unit * $symbol;
        color: #333;
        &::-webkit-input-placeholder {
          font-size: 24 / $unit * $symbol;
          color: #999;
        }
      }
    }
  }
  &-banner {
    width: 100%;
    height: 318 / $unit * $symbol;
    padding: {
      left: 24 / $unit * $symbol;
      right: 24 / $unit * $symbol;
    }
    .banner {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-category {
    @include vertical_center_horizontal_between_wrap();
    width: 100%;
    height: 288 / $unit * $symbol;
    padding: {
      left: 24 / $unit * $symbol;
      right: 24 / $unit * $symbol;
    }
    .category-item {
      @include column_center_between();
      width: (90 + 15) / $unit * $symbol;
      height: 144 / $unit * $symbol;
      padding: {
        top: 21 / $unit * $symbol;
      }
      .item-icon {
        width: 90 / $unit * $symbol;
        height: 90 / $unit * $symbol;
      }
      .item-title {
        font-size: 21 / $unit * $symbol;
        color: #666666;
      }
    }
  }
  &-recommend {
    width: 100%;
    height: (237 - 24) / $unit * $symbol;
    padding: {
      left: 33 / $unit * $symbol;
      right: 33 / $unit * $symbol;
    }
  }
  &-look-at-look {
    width: 100%;
    height: auto;
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    .look-saccade {
      @include center();
      width: 100%;
      height: 120 / $unit * $symbol;
    }
    .look-guide {
      @include vertical_between_horizontal_between_wrap();
      width: 100%;
      height: (123 * 2 + 30);
      .look-tip {
        width: 336 / $unit * $symbol;
        height: 123 / $unit * $symbol;
        background: #f3f6fa;
        .tip-messgae {
          @include vertical_direction_between();
          width: (336 - 123) / $unit * $symbol;
          height: 100%;
          padding: {
            left: 33 / $unit * $symbol;
            top: 30 / $unit * $symbol;
            bottom: 27 / $unit * $symbol;
          }
          .messgae-title {
            font-size: 30 / $unit * $symbol;
            color: #222222;
          }
          .messgae-introduce {
            font-size: 24 / $unit * $symbol;
            color: #999999;
          }
        }
        .tip-image {
          width: 123 / $unit * $symbol;
          height: 123 / $unit * $symbol;
        }
      }
    }
  }
}
