@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';

.repayment-detail {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  height: auto;
  background-color: #fff;
  .detail-title {
    position: relative;
    $param: (flex flex) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 96 / $unit * $symbol;
    border: {
      top: 1px solid #f0f0f0;
      bottom: 1px solid #f0f0f0;
    }
    p {
      font-size: 27 / $unit * $symbol;
      color: #666666;
    }
    i {
      position: absolute;
      right: 39 / $unit * $symbol;
      font-size: 36 / $unit * $symbol;
      color: #b5b6b6;
    }
  }
  .detail-intruction {
    $param: (flex flex) (direction column) (alignItems center) (justifyContent space-around);
    @include flexSet($param);
    width: 100%;
    height: 219 / $unit * $symbol;
    padding: {
      top: 30 / $unit * $symbol;
      bottom: 30 / $unit * $symbol;
    }
    color: #353535;
    p:first-of-type {
      font-size: 30 / $unit * $symbol;
    }
    p:last-of-type {
      font-size: 60 / $unit * $symbol;
    }
  }
  .detail-list {
    width: 100%;
    height: auto;
    padding: {
      bottom: 39 / $unit * $symbol;
    }
    border: {
      top: 1px solid #f0f0f0;
    }
    .list-item {
      $param: (flex flex) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 87 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      border: {
        bottom: 1px solid #f0f0f0;
      }
      font-size: 27 / $unit * $symbol;
      color: #333333;
      .item-number {
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        width: 162 / $unit * $symbol;
        height: 100%;
      }
      .item-money {
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        flex-grow: 1;
        height: 100%;
      }
      .item-status {
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        width: 213 / $unit * $symbol;
        height: 100%;
        .status-tip {
          color: #8d8d8d;
        }
        .status-btn {
          width: 141 / $unit * $symbol;
          height: 60 / $unit * $symbol;
          background-color: #eb2828;
          border-radius: 6 / $unit * $symbol;
          color: #ffffff;
        }
      }
    }
  }
}