@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.city-select {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  width: 100%;
  height: 588 / $unit * $symbol;
  background-color: #ccc;
  border: {
    bottom: 1px solid #cccccc;
  }
  .select-title {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 90 / $unit * $symbol;
    padding: {
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    font-size: 33 / $unit * $symbol;
    color: #333333;
  }
  .select-nav {
    $param: (flex flex) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: (588 - 90) / $unit * $symbol;
    .nav-area {
      width: (750 / 3) / $unit * $symbol;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      .area-list {
        width: 100%;
        height: auto;
        .list-item {
          $param: (flex flex) (alignItems center) (justifyContent center);
          @include flexSet($param);
          width: 100%;
          height: 60 / $unit * $symbol;
          font-size: 30 / $unit * $symbol;
          color: #aaaaaa;
        }
        .active {
          font-weight: 600;
          color: #000000;
        }
      }
    }
  }
}