@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
@import '../../../dependencies/sass/_btn.scss';
.product {
  width: 100%;
  position: relative;
  padding: {
    top: 93 / $unit * $symbol;
    bottom: 99 / $unit * $symbol;
  }
  background-color: #f4f4f4;
  &-nav {
    position: fixed;
    top: 93 / $unit * $symbol;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 99 / $unit * $symbol;
    padding: {
      left: 132 / $unit * $symbol;
      right: 132 / $unit * $symbol;
    }
    background-color: #fff;
    .nav-content {
      position: relative;
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      height: 94 / $unit * $symbol;
      .nav-item {
        position: relative;
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        height: 100%;
        font-size: 30 / $unit * $symbol;
        font-weight: bold;
        color: #333333;
      }
    }
    .nav-scroll {
      position: relative;
      width: 100%;
      height: 5 / $unit * $symbol;
      .scroll {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        width: 60 / $unit * $symbol;
        height: 5 / $unit * $symbol;
        background-color: red;
        border-radius: 3 / $unit * $symbol;
        transition: all 0.2s;
      }
    }
    
  }
  &-order {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    $param: (flex flex) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 96 / $unit * $symbol;
    .order-content {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 471 / $unit * $symbol;
      height: 100%;
      border: {
        top: 1px solid #eeeeee;
      }
      background-color: #fff;
      .content-sign {
        $param: (flex flex) (direction column) (alignItems center) (justifyContent space-between);
        @include flexSet($param);
        width: 188 / $unit * $symbol;
        height: 100%;
        padding: {
          top: 12 / $unit * $symbol;
          bottom: 12 / $unit * $symbol;
        }
        font-size: 24 / $unit * $symbol;
        color: #363636;
        .icon {
          font-size: 39 / $unit * $symbol;
        }
      }
      .content-price {
        position: relative;
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        width: 285 / $unit * $symbol;
        height: 100%;
        color: #eb2828;
        p:first-of-type {
          $param: (flex flex) (alignItems flex-end);
          @include flexSet($param);
          font-size: 36 / $unit * $symbol;
        }
        p:last-of-type{
          font-size: 64 / $unit * $symbol;
        }
      }
      .content-price::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1 / $unit * $symbol;
        height: 50%;
        background-color: #e5e5e5;
      }
    }
    .order-btn {
      width: 279 / $unit * $symbol;
      height: 100%;
      background-color: #eb2828;
      font-size: 33 / $unit * $symbol;
      color: #ffffff;
    }
  }
}