@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
@import '../../../../../dependencies/sass/_btn.scss';
.payment {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: {
    left: 24 / $unit * $symbol;
    right: 24 / $unit * $symbol;
  }
  background-color: #fff;
  .payment-title {
    $param: (flex flex) (justifyContent center) (alignItems center);
    @include flexSet($param);
    height: 114 / $unit * $symbol;
    p {
      font-size: 30 / $unit * $symbol;
      color: #000000;
      font-weight: bold;
    }
  }
  .payment-way {
    width: 100%;
    .way-jietiao {
      width: 100%;
      .jietiao-title {
        $param: (flex flex) (justifyContent flex-start) (alignItems center);
        @include flexSet($param);
        width: 100%;
        height: 36 / $unit * $symbol;
        margin: {
          bottom: 26 / $unit * $symbol;
        }
        .title-icon {
          display: block;
          width: 28 / $unit * $symbol;
          height: 28 / $unit * $symbol;
          margin: {
            right: 18 / $unit * $symbol;
          }
          border-radius: 50%;
          background: red;
        }
        .title-payname {
          font-size: 27 / $unit * $symbol;
          color: #333333;
        }
      }
      .jietiao-installment {
        $param: (flex flex) (flexWrap wrap);
        @include flexSet($param);
        width: 100%;
        border: {
          bottom: 1px solid #dddddd;
        }
        .installment-item {
          $param: (flex flex) (direction column) (justifyContent center) (alignItems center);
          @include flexSet($param);
          width: 50%;
          margin: {
            bottom: 28 / $unit * $symbol;
          }
          padding: {
            left: 10 / $unit * $symbol;
          }
          .item-content {
            width: 70%;
            padding: {
              top: 21 / $unit * $symbol;
              bottom: 21 / $unit * $symbol;
              left: 36 / $unit * $symbol;
            }
            border-radius: 9 / $unit * $symbol;
            border: 1px solid #ccc;
            .content-title {
              $param: (flex flex) (alignItems center);
              @include flexSet($param);
              height: 38 / $unit * $symbol;
              font-size: 27 / $unit * $symbol;
              color: #333333;
            }
            .content-tip {
              $param: (flex flex) (alignItems center);
              @include flexSet($param);
              height: 38 / $unit * $symbol;
              padding: {
                left: 12 / $unit * $symbol;
              }
              font-size: 24 / $unit * $symbol;
              color: #999999;
            }
          }
          .active {
            border: 1px solid red;
            .content-title {
              color: red;
            }
            .content-tip {
              color: #333;
            }
          }
        }
      }
    }
    .way-alipay,
    .way-wechat {
      $param: (flex flex) (justifyContent flex-start) (alignItems center);
      @include flexSet($param);
      width: 100%;
      height: 98 / $unit * $symbol;
      border: {
        bottom: 1px solid #dddddd;
      }
      i {
        display: block;
        width: 28 / $unit * $symbol;
        height: 28 / $unit * $symbol;
        margin: {
          right: 18 / $unit * $symbol;
        }
        border-radius: 50%;
        background: red;
      }
    }
  }
  .payment-button {
    $param: (flex flex) (alignItems center);
    @include flexSet($param);
    width: 100%;
    height: 150 / $unit * $symbol;
    .button-sure {
      width: 100%;
      height: 91 / $unit * $symbol;
      text-align: center;
      border-radius: 8 / $unit * $symbol;
      background: #eb2828;
      font-size: 30 / $unit * $symbol;
      color: #fff;
    }
  }
}
