@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
@import '../../../../../dependencies/sass/_btn.scss';
.goods {
  @include horizontal_between();
  width: 100%;
  height: 336 / $unit * $symbol;
  padding: {
    top: 24 / $unit * $symbol;
    bottom: 24 / $unit * $symbol;
    left: 27 / $unit * $symbol;
    right: 27 / $unit * $symbol;
  }
  .swiper-container {
    width: 100%;
    .swiper-slide {
      width: 100%;
      .goods-item {
        @include column_center_between();
        flex-grow: 1;
        min-width: (171 + 54) / $unit * $symbol;
        height: 100%;
        font-size: 24 / $unit * $symbol;
        .item-image {
          width: 171 / $unit * $symbol;
          height: 171 / $unit * $symbol;
        }
      
        .item-title {
          width: 100%;
          height: 30 / $unit * $symbol;
          color: #414141;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      
        .item-prise {
          color: #999999;
        }
      
        .item-staging {
          color: #999999;
      
          span:first-of-type {
            color: #e6162d;
          }
        }
      }
    }
  }
}