@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
@import '../../../dependencies/sass/_btn.scss';
.empower {
  width: 100vw;
  height: 100vh;
  background: #f5f7f6;
  &-header {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 129 / $unit * $symbol;
    padding: {
      top: 36 / $unit * $symbol;
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    .header-item {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      width: auto;
      height: 100%;
      padding: {
        left: 12 / $unit * $symbol;
        right: 12 / $unit * $symbol;
      }
      i {
        font-size: 39 / $unit * $symbol;
        color: #a7a7a7;
      }
    }
  }
  &-logo {
    $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 600 / $unit * $symbol;
    .logo-flag {
      width: 162 / $unit * $symbol;
      height: 162 / $unit * $symbol;
    }
    .logo-title {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      height: 114 / $unit * $symbol;
      font-size: 39 / $unit * $symbol;
      color: #333333;
    }
  }
  &-input-list {
    width: 100%;
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    .list-item {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 99 / $unit * $symbol;
      border: {
        bottom: 1px solid #e5e5e5;
      }
      padding: {
        left: 15 / $unit * $symbol;
        right: 15 / $unit * $symbol;
      }
      input {
        $param: (flex flex) (alignItems center);
        @include flexSet($param);
        width: 420 / $unit * $symbol;
        height: 100%;
        font-size: 36 / $unit * $symbol;
        color: #000;
        background: transparent;
      }
      ::-webkit-input-placeholder {
        color: #b5b5b5;
      }
      .item-password-switch {
        width: 40 / $unit * $symbol;
        i {
          font-size: 32 / $unit * $symbol;
          color: #c7c7c7;
        }
      }
      .item-code-gain {
        width: 171 / $unit * $symbol;
        height: 54 / $unit * $symbol;
        .gain-btn {
          $param: (flex flex) (alignItems center) (justifyContent center);
          @include flexSet($param);
          width: 100%;
          height: 100%;
          background: #e4e4e4;
          font-size: 27 / $unit * $symbol;
          color: #8d8d8d;
        }
      }
    }
  }
  &-tip-title {
    $param: (flex flex) (alignItems center) (justifyContent flex-start);
    @include flexSet($param);
    width: 100%;
    height: 96 / $unit * $symbol;
    padding: {
      left: 30 / $unit * $symbol;
    }
    border: {
      bottom: 1px solid #e5e5e5;
    }
    p {
      font-size: 27 / $unit * $symbol;
      color: #999999;
    }
  }
  &-protocol {
    $param: (flex flex) (alignItems center);
    @include flexSet($param);
    width: 100%;
    height: 88 / $unit * $symbol;
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    font-size: 27 / $unit * $symbol;
    color: #999999;
    span:last-of-type {
      padding: {
        left: 9 / $unit * $symbol;
      }
      color: #eb2828;
    }
  }
  &-btn {
    width: 100%;
    height: 90 / $unit * $symbol;
    margin: {
      top: 60 / $unit * $symbol;
    }
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    button {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      width: 100%;
      height: 90 / $unit * $symbol;
      background: #eb2828;
      font-size: 33 / $unit * $symbol;
      color: #fff;
      border-radius: 7 / $unit * $symbol;
    }
  }
  &-operation {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 60 / $unit * $symbol;
    margin: {
      top: 42 / $unit * $symbol;
    }
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    .operation-item {
      height: 100%;
      padding: {
        left: 15 / $unit * $symbol;
        right: 15 / $unit * $symbol;
      }
      font-size: 27 / $unit * $symbol;
      color: #999999;
    }
    .operation-item:first-of-type {
      color: #333333;
    }
  }
}

.default-login {
  width: 100vw;
  height: 100vh;
  background: #f5f7f6;
  .login-header {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 129 / $unit * $symbol;
    padding: {
      top: 36 / $unit * $symbol;
      left: 30 / $unit * $symbol;
      right: 30 / $unit * $symbol;
    }
    .header-item {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      width: auto;
      height: 100%;
      padding: {
        left: 12 / $unit * $symbol;
        right: 12 / $unit * $symbol;
      }
      i {
        font-size: 39 / $unit * $symbol;
        color: #a7a7a7;
      }
    }
  }
  .login-logo {
    $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 100%;
    height: 600 / $unit * $symbol;
    .logo-flag {
      width: 162 / $unit * $symbol;
      height: 162 / $unit * $symbol;
    }
    .logo-title {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      height: 114 / $unit * $symbol;
      font-size: 39 / $unit * $symbol;
      color: #333333;
    }
  }
  .login-input-list {
    width: 100%;
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    .list-item {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 99 / $unit * $symbol;
      border: {
        bottom: 1px solid #e5e5e5;
      }
      padding: {
        left: 15 / $unit * $symbol;
        right: 15 / $unit * $symbol;
      }
      input {
        $param: (flex flex) (alignItems center);
        @include flexSet($param);
        width: 420 / $unit * $symbol;
        height: 100%;
        font-size: 36 / $unit * $symbol;
        color: #000;
        background: transparent;
      }
      ::-webkit-input-placeholder {
        color: #b5b5b5;
      }
      .item-password-switch {
        width: 40 / $unit * $symbol;
        i {
          font-size: 32 / $unit * $symbol;
          color: #c7c7c7;
        }
      }
    }
  }
  .login-btn {
    width: 100%;
    height: 90 / $unit * $symbol;
    margin: {
      top: 60 / $unit * $symbol;
    }
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    button {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      width: 100%;
      height: 90 / $unit * $symbol;
      background: #eb2828;
      font-size: 33 / $unit * $symbol;
      color: #fff;
      border-radius: 7 / $unit * $symbol;
    }
  }
  .login-operation {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 60 / $unit * $symbol;
    margin: {
      top: 42 / $unit * $symbol;
    }
    padding: {
      left: 63 / $unit * $symbol;
      right: 63 / $unit * $symbol;
    }
    .operation-item {
      height: 100%;
      padding: {
        left: 15 / $unit * $symbol;
        right: 15 / $unit * $symbol;
      }
      font-size: 27 / $unit * $symbol;
      color: #999999;
    }
    .operation-item:first-of-type {
      color: #333333;
    }
  }
}
