@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.product-summary {
  width: 100%;
  background-color: #fff;
  .swiper-container {
    width: 100%;
    height: 480 / $unit * $symbol;
    background: #cccccc;
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .swiper-pagination-fraction {
      font-size: 24 / $unit * $symbol;
      color: #fff;
    }
  }
  .summary-content {
    width: 100%;
    padding: {
      left: 24 / $unit * $symbol;
      right: 24 / $unit * $symbol;
    }
    .content-phone {
      $param: (flex flex) (direction column) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 297 / $unit * $symbol;
      padding: {
        top: 21 / $unit * $symbol;
        bottom: 12 / $unit * $symbol;
      }
      .phone-name {
        width: 100%;
        font-size: 39 / $unit * $symbol;
        color: #000;
      }
      .phone-version {
        width: 100%;
        height: 63 / $unit * $symbol;
        font-size: 27 / $unit * $symbol;
        color: #333333;
      }
      .phone-bill {
        $param: (flex flex) (alignItems flex-end) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        .bill-amount {
          $param: (flex flex) (justifyContent space-between);
          @include flexSet($param); // width: 378 / $unit * $symbol;
          .amount-current {
            $param: (flex flex) (alignItems flex-end);
            @include flexSet($param);
            color: #eb2828;
            span:first-of-type {
              font-size: 36 / $unit * $symbol;
            }
            span:last-of-type {
              font-size: 51 / $unit * $symbol;
              font-weight: bold;
            }
          }
          .amount-original {
            $param: (flex flex) (alignItems flex-end);
            @include flexSet($param);
            margin: {
              left: 27 / $unit * $symbol;
            }
            color: #666666;
            font-size: 24 / $unit * $symbol;
            span:last-of-type {
              text-decoration: line-through;
            }
          }
        }
        .bill-reduce {
          $param: (flex flex) (alignItems center);
          @include flexSet($param);
          width: auto;
          height: 38 / $unit * $symbol;
          border: 1px solid #eb2828;
          border-radius: 4 / $unit * $symbol;
          div:first-of-type {
            width: 39 / $unit * $symbol;
            height: 38 / $unit * $symbol;
            line-height: 36 / $unit * $symbol;
            padding: {
              right: 1px;
            }
            text-align: center;
            background: #eb2828;
            color: #fff;
            font-size: 21 / $unit * $symbol;
            font-weight: bold;
          }
          div:last-of-type {
            padding: {
              left: 9 / $unit * $symbol;
              right: 9 / $unit * $symbol;
            }
            line-height: 36 / $unit * $symbol;
            color: #393939;
            font-size: 21 / $unit * $symbol;
            font-weight: bold;
          }
        }
      }
      .phone-installments {
        span:first-of-type {
          font-size: 30 / $unit * $symbol;
          color: #eb2828;
        }
        span:last-of-type {
          font-size: 27 / $unit * $symbol;
          color: #353535;
        }
      }
    }
    .content-gift {
      $param: (flex flex) (alignItems center);
      @include flexSet($param);
      width: 100%;
      height: 51 / $unit * $symbol;
      border: {
        top: 1px solid #eeeeee;
        bottom: 1px solid #eeeeee;
      }
      font-size: 21 / $unit * $symbol;
      div {
        color: #ffffff;
        margin: {
          right: 15 / $unit * $symbol;
        }
      }
      p {
        color: #333333;
      }
    }
    .content-tip {
      $param: (flex flex) (alignItems center);
      @include flexSet($param);
      width: 100%;
      height: 60 / $unit * $symbol;
      padding: {
        left: 12 / $unit * $symbol;
      }
      margin: {
        top: 12 / $unit * $symbol;
      }
      background-color: #fff2f2;
      font-size: 24 / $unit * $symbol;
      color: #ff5555;
      .icon {
        margin: {
          right: 9 / $unit * $symbol;
        }
        font-size: 30 / $unit * $symbol;
      }
    }
    .content-pay-method {
      $param: (flex flex) (direction column) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 120 / $unit * $symbol;
      padding: {
        top: 15 / $unit * $symbol;
        bottom: 15 / $unit * $symbol;
      }
      border: {
        bottom: 1px solid #eeeeee;
      }
      .method-selected {
        $param: (flex flex) (alignItems center) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        height: 30 / $unit * $symbol;
        i {
          font-size: 30 / $unit * $symbol;
          color: #999;
        }
        .selected-tip {
          $param: (flex flex) (alignItems center) (justifyContent space-between);
          @include flexSet($param);
          width: 300 / $unit * $symbol;
          height: 100%;
          font-size: 24 / $unit * $symbol;
          b {
            color: #333333;
          }
          .tip-sign {
            color: #999999;
            .icon {
              font-size: 21 / $unit * $symbol;
            }
          }
        }
      }
      .method-selectable {
        $param: (flex flex) (alignItems center);
        @include flexSet($param);
        width: 100%;
        height: 30 / $unit * $symbol;
        .selectable-item {
          margin: {
            right: 30 / $unit * $symbol;
          }
          .icon {
            margin: {
              right: 6 / $unit * $symbol;
            }
            font-size: 27 / $unit * $symbol;
          }
          img {
            margin: {
              right: 6 / $unit * $symbol;
            }
            vertical-align: middle;
            width: 27 / $unit * $symbol;
            height: 27 / $unit * $symbol;
          }
          span {
            font-size: 24 / $unit * $symbol;
            color: #999999;
          }
        }
      }
    }
    .content-characteristic {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 90 / $unit * $symbol;
      span {
        font-size: 24 / $unit * $symbol;
        color: #333333;
      }
      i {
        font-size: 30 / $unit * $symbol;
        color: #999;
      }
    }
  }
}
