@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.product-summary {
  width: 100%;
  background-color: #f2f2f2;
  .swiper-container {
    width: 100%;
    height: 712 / $unit * $symbol;
    background: #cccccc;
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        img {
          width: 100%;
          min-height: 100%;
        }
      }
    }
    .swiper-pagination-fraction {
      font-size: 24 / $unit * $symbol;
      color: #fff;
    }
  }
  .summary-content {
    width: 100%;
    .content-bill {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 96 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      background-color: #fff;
      .bill-amount {
        @include vertical_center();
        height: 100%;
        .amount-current {
          @include vertical_center();
          height: 100%;
          color: #eb2828;
          span:first-of-type {
            font-size: 30 / $unit * $symbol;
            padding: {
              top: 15 / $unit * $symbol;
            }
          }
          span:last-of-type {
            font-size: 60 / $unit * $symbol;
            font-weight: bold;
          }
        }
        .amount-original {
          $param: (flex flex) (alignItems flex-end);
          @include flexSet($param);
          height: 60 / $unit * $symbol;
          margin: {
            left: 21 / $unit * $symbol;
          }
          font-size: 27 / $unit * $symbol;
          color: #b7b7b7;
          text-decoration: line-through;
        }
      }
      .bill-installments {
        @include vertical_center();
        height: 100%;
        span:first-of-type {
          font-size: 36 / $unit * $symbol;
          color: #eb2828;
        }
        span:last-of-type {
          $param: (flex flex) (alignItems flex-end);
          @include flexSet($param);
          height: 45 / $unit * $symbol;
          font-size: 27 / $unit * $symbol;
          color: #999999;
        }
        i {
          margin: {
            top: 12 / $unit * $symbol;
            left: 12 / $unit * $symbol;
          }
          font-size: 24 / $unit * $symbol;
          color: #999999;
        }
      }
    }
    .content-guarantee {
      @include vertical_center_horizontal_between();
      width: 100%;
      height: 60 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
      }
      background-color: #fff6f6;
      .guarantee-item {
        @include vertical_center();
        height: 100%;
        i {
          margin: {
            right: 9 / $unit * $symbol;
          }
          font-size: 24 / $unit * $symbol;
          color: #d7d7d8;
        }
        .item-text {
          font-size: 24 / $unit * $symbol;
          color: #666;
        }
      }
    }
    .content-detail {
      position: relative;
      width: 100%;
      height: 192 / $unit * $symbol;
      padding: {
        left: 30 / $unit * $symbol;
        right: 30 / $unit * $symbol;
        top: 30 / $unit * $symbol;
      }
      background-color: #fff;
      .detail-badge {
        position: absolute;
        top: 33 / $unit * $symbol;
        left: 30 / $unit * $symbol;
        z-index: 9;
        @include vertical_center();
        width: 96 / $unit * $symbol;
        height: 33 / $unit * $symbol;
        border: 1px solid #62afff;
        background-color: #fff;
        border-radius: 6 / $unit * $symbol;
        .badge-left {
          @include center();
          width: 48 / $unit * $symbol;
          height: 100%;
          font-size: 18 / $unit * $symbol;
          color: #fff;
          background-color: #62afff;
        }
        .badge-right {
          @include center();
          width: 48 / $unit * $symbol;
          height: 100%;
          font-size: 18 / $unit * $symbol;
          color: #62afff;
        }
      }
      .detail-name {
        width: 100%;
        text-indent: 120 / $unit * $symbol;
        line-height: 45 / $unit * $symbol;
        font-size: 33 / $unit * $symbol;
        color: #333;
      }
      .detail-sign {
        @include vertical_center();
        width: 100%;
        height: 75 / $unit * $symbol;
        font-size: 24 / $unit * $symbol;
        color: #999999;
      }
    }
    .content-parameter {
      width: 100%;
      margin: {
        top: 21 / $unit * $symbol;
      }
      .parameter-item {
        @include vertical_center();
        width: 100%;
        padding: {
          top: 24 / $unit * $symbol;
          right: 30 / $unit * $symbol;
          bottom: 24 / $unit * $symbol;
          left: 30 / $unit * $symbol;
        }
        background-color: #fff;
        border: {
          bottom: 1px solid #ddd;
        }
        .item-title {
          font-size: 24 / $unit * $symbol;
          color: #999999;
        }
        .item-value {
          flex: 1;
          height: 100%;
          padding: {
            left: 36 / $unit * $symbol;
            right: 18 / $unit * $symbol;
          }
          .value-text {
            @include vertical_center();
            width: 100%;
            height: 42 / $unit * $symbol;
            font-size: 24 / $unit * $symbol;
            color: #333;
          }
        }
        .item-more {
          width: 42 / $unit * $symbol;
          height: 100%;
          font-size: 27 / $unit * $symbol;
          color: #999999;
        }
      }
    }
    .content-pay-method {
      $param: (flex flex) (direction column) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 120 / $unit * $symbol;
      padding: {
        top: 15 / $unit * $symbol;
        bottom: 15 / $unit * $symbol;
      }
      border: {
        bottom: 1px solid #eeeeee;
      }
      .method-selected {
        $param: (flex flex) (alignItems center) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        height: 30 / $unit * $symbol;
        i {
          font-size: 30 / $unit * $symbol;
          color: #999;
        }
        .selected-tip {
          $param: (flex flex) (alignItems center) (justifyContent space-between);
          @include flexSet($param);
          width: 300 / $unit * $symbol;
          height: 100%;
          font-size: 24 / $unit * $symbol;
          b {
            color: #333333;
          }
          .tip-sign {
            color: #999999;
            .icon {
              font-size: 21 / $unit * $symbol;
            }
          }
        }
      }
      .method-selectable {
        $param: (flex flex) (alignItems center);
        @include flexSet($param);
        width: 100%;
        height: 30 / $unit * $symbol;
        .selectable-item {
          $param: (flex flex) (alignItems center);
          @include flexSet($param);
          margin: {
            right: 30 / $unit * $symbol;
          }
          .icon {
            width: 30 / $unit * $symbol;
            height: 30 / $unit * $symbol;
          }
          img {
            vertical-align: middle;
            width: 27 / $unit * $symbol;
            height: 27 / $unit * $symbol;
          }
          p {
            margin: {
              left: 6 / $unit * $symbol;
            }
            font-size: 24 / $unit * $symbol;
            color: #999999;
          }
        }
      }
    }
    .content-characteristic {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 90 / $unit * $symbol;
      span {
        font-size: 24 / $unit * $symbol;
        color: #333333;
      }
      i {
        font-size: 30 / $unit * $symbol;
        color: #999;
      }
    }
  }
}
