@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
.reminder {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 480 / $unit * $symbol; // height: 230 / $unit * $symbol;
  padding: {
    top: 15 / $unit * $symbol;
  }
  background-color: #fff;
  border-radius: 10 / $unit * $symbol;
  transform: translateX(-50%) translateY(-50%);
  &-tip {
    width: 100%;
    height: 63 / $unit * $symbol;
    line-height: 63 / $unit * $symbol;
    text-align: center;
    font-size: 33 / $unit * $symbol;
    color: #333333;
    font-weight: bold;
  }
  &-title {
    width: 100%;
    height: 62 / $unit * $symbol;
    line-height: 43 / $unit * $symbol;
    padding: {
      bottom: 19 / $unit * $symbol;
    }
    text-align: center;
    font-size: 24 / $unit * $symbol;
    color: #333333;
    border: {
      bottom: 1 / $unit * $symbol solid #e0e0e0;
    }
  }
  &-button {
    $param: (flex flex) (justifyContent flex-start);
    @include flexSet($param);
    width: 100%;
    .button-cancel,
    .button-sure {
      width: 240 / $unit * $symbol;
      text-align: center;
      height: 89 / $unit * $symbol;
      line-height: 89 / $unit * $symbol;
      background-color: transparent;
      font-size: 27 / $unit * $symbol;
      color: #333333;
    }
    .button-cancel {
      border: {
        right: 1 / $unit * $symbol solid #e0e0e0;
      }
    }
  }
}
