@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
@import '../../../../../dependencies/sass/_btn.scss';
.parameter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  // height: 852 / $unit * $symbol;
  padding: {
    bottom: 36 / $unit * $symbol;
  }
  background-color: #fff;
  .parameter-title {
    position: relative;
    $param: (flex flex) (justifyContent center) (alignItems center);
    @include flexSet($param);
    height: 120 / $unit * $symbol;
    font-size: 33 / $unit * $symbol;
    h4 {
      color: #000000;
    }
    i {
      position: absolute;
      right: 27 / $unit * $symbol;
      z-index: 9;
    }
  }
  .parameter-share-detail {
    width: 100%;
    padding: {
      left: 45 / $unit * $symbol;
      right: 39 / $unit * $symbol;
    }
    .detail-item {
      $param: (flex flex) (justifyContent space-between) (alignItems center);
      @include flexSet($param);
      width: 100%;
      height: 51 / $unit * $symbol;
      .item-key {
        font-size: 27 / $unit * $symbol;
        color: #333333;
      }
      .item-value {
        font-size: 27 / $unit * $symbol;
        color: #333333;
      }
    }
  }
}