@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
.order {
  width: 100%;
  height: 264 / $unit * $symbol;
  background-color: #fff;
  margin: {
    bottom: 21 / $unit * $symbol;
  }
  &-title {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: 96 / $unit * $symbol;
    padding: {
      left: 30 / $unit * $symbol;
    }
    .title-content {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 100%;
      padding: {
        right: 30 / $unit * $symbol;
      }
      border: {
        bottom: 1px solid #e4e4e4;
      }
      h3 {
        font-size: 30 / $unit * $symbol;
        color: #222;
      }
      i{
        font-size: 30 / $unit * $symbol;
        color: #999999;
      }
    }
  }
  &-menu {
    $param: (flex flex) (alignItems center) (justifyContent space-between);
    @include flexSet($param);
    width: 100%;
    height: (264 - 96) / $unit * $symbol;
    // padding: {
    //   left: 30 / $unit * $symbol;
    //   right: 30 / $unit * $symbol;
    // }
    background-color: #fff;
    .menu-item {
      position: relative;
      $param: (flex flex) (direction column) (alignItems center) (justifyContent space-around);
      @include flexSet($param);
      width: 25%;
      height: 100%;
      padding: {
        top: 27 / $unit * $symbol;
        bottom: 21 / $unit * $symbol;
      }
      .icon {
        font-size: 45 / $unit * $symbol;
      }
      p {
        font-size: 27 / $unit * $symbol;
        color: #686868;
      }
      .item-badge {
        position: absolute;
        top: 18 / $unit * $symbol;
        left: 114 / $unit * $symbol;
        z-index: 99;
        $param: (flex flex) (alignItems center) (justifyContent center);
        @include flexSet($param);
        // width: 33 / $unit * $symbol;
        height: 30 / $unit * $symbol;
        padding: {
          left: 9 / $unit * $symbol;
          right: 9 / $unit * $symbol;
        }
        background: red;
        border-radius: 15 / $unit * $symbol;
        // text-align: center;
        font-size: 15 / $unit * $symbol;
        color: #fff;

      }
    }
  }
} 