// @import "./assets/iconfont/iconfont.css";
@import "../dependencies/sass/_reset.scss";
@import "../dependencies/sass/_flex.scss";
@font-face {
  font-family: 'pingfang';
  src: url('./assets/font/PingFangMedium.otf');
}
html {
  width: 100%;
  body {
    width: 100%;
    background-color: #f0f2f5;
    .icon {
      width: 1em; height: 1em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
    }
    .fade-enter-active,.fade-leave-active{
      transition: all .3s;
    }
    .fade-enter,.fade-leave-to{
      transform: translateX(-100%);
    }
  }
  .alipay {
    position: fixed;
    z-index: -99;
  }
}