<<<<<<< HEAD
@import "./assets/iconfont/iconfont.css";
@import "../dependencies/sass/_reset.scss";
@import "../dependencies/sass/_flex.scss";
html {
  width: 100%;
  body {
    width: 100%;
    background-color: #f0f2f5;
  }
}
=======
@import '../dependencies/sass/_flex.scss';
@import '../dependencies/sass/_reset.scss';
>>>>>>> 3738b51f08ec515a9257ec8458578598b3a2ad28
