@import '../../../../../dependencies/sass/_flex.scss';
@import '../../../../../dependencies/sass/_unit.scss';
.hint {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: transparent;
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
    @include flexSet($param);
    width: 270 / $unit * $symbol;
    height: 230 / $unit * $symbol;
    padding: {
      top: 15 / $unit * $symbol;
    }
    background-color: rgba($color: #000000, $alpha: .5);
    border-radius: 20 / $unit * $symbol;
    transform: translateX(-50%) translateY(-50%);
    i {
      font-size: 102 / $unit * $symbol;
      color: #fff;
    }
    .content-title {
      width: 100%;
      height: 54 / $unit * $symbol;
      margin: {
        top: 9 / $unit * $symbol;
      }
      line-height: 54 / $unit * $symbol;
      text-align: center;
      font-size: 30 / $unit * $symbol;
      color: #fff;
    }
  }
}
