@import '../../../../dependencies/sass/_flex.scss';
@import '../../../../dependencies/sass/_unit.scss';
@import '../../../../dependencies/sass/_btn.scss';
.sample {
  width: 100%;
  background-color: #fff;
  &-title {
    $param: (flex flex) (alignItems center);
    @include flexSet($param);
    width: 100%;
    height: 96 / $unit * $symbol;
    padding: {
      left: 24 / $unit * $symbol;
      right: 24 / $unit * $symbol;
    }
  }
  &-photos {
    width: 100%;
    .photos-item {
      width: 100%;
      height: 525 / $unit * $symbol;
      padding: {
        left: 24 / $unit * $symbol;
        right: 24 / $unit * $symbol;
      }
      margin: {
        bottom: 12 / $unit * $symbol;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-service {
    width: 100%;
    padding: {
      left: 24 / $unit * $symbol;
      right: 24 / $unit * $symbol;
    }
    .service-title {
      $param: (flex flex) (alignItems center) (justifyContent center);
      @include flexSet($param);
      width: 100%;
      height: 66 / $unit * $symbol;
      font-size: 30 / $unit * $symbol;
      color: #ff5555;
    }
    .service-project {
      $param: (flex flex) (direction column) (justifyContent space-around);
      @include flexSet($param);
      width: 100%;
      height: 315 / $unit * $symbol;
      padding: {
        bottom: 15 / $unit * $symbol;
      }
      .project-group {
        $param: (flex flex) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        height: 117 / $unit * $symbol;
        .group-item {
          width: 321 / $unit * $symbol;
          height: 100%;
          .item-name {
            $param: (flex flex) (alignItems center);
            @include flexSet($param);
            width: 100%;
            height: 51 / $unit * $symbol;
            .icon {
              margin: {
                right: 21 / $unit * $symbol;
              }
              font-size: 54 / $unit * $symbol;
            }
            p {
              font-size: 27 / $unit * $symbol;
            }
          }
          .item-introduction {
            width: 100%;
            margin: {
              top: 6 / $unit * $symbol;
            }
            font-size: 21 / $unit * $symbol;
            color: #999999;
          }
        }
      }
    }
  }
  &-contact {
    width: 100%;
    height: 162 / $unit * $symbol;
    padding: {
      left: 21 / $unit * $symbol;
      right: 21 / $unit * $symbol;
      bottom: 33 / $unit * $symbol;
    }
    .contact-tip {
      $param: (flex flex) (alignItems center) (justifyContent space-between);
      @include flexSet($param);
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: {
        left: 24 / $unit * $symbol;
        right: 24 / $unit * $symbol;
        top: 30 / $unit * $symbol;
        bottom: 30 / $unit * $symbol;
      }
      border-radius: 15 / $unit * $symbol;
      box-shadow: 0 0 (12 / $unit * $symbol) (6 / $unit * $symbol) #efefef;
      .tip-message {
        $param: (flex flex) (direction column) (justifyContent space-between);
        @include flexSet($param);
        width: 100%;
        height: 100%;
        font-size: 27 / $unit * $symbol;
        color: #333333;
      }
      .tip-copy-btn {
        $param: (flex flex) (direction column) (alignItems center) (justifyContent center);
        @include flexSet($param);
        width: 66 / $unit * $symbol;
        height: 42 / $unit * $symbol;
        border: 1px solid #ff5555;
        border-radius: 6 / $unit * $symbol;
        background-color: #fff;
        font-size: 21 / $unit * $symbol;
        text-align: center;
        color: #ff5555;
      }
    }
  }
}